---
import { siteConfig } from '../config/site'
---

<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__brand" href="/">
      {siteConfig.name}
    </a>
    <p class="site-header__status">Phase 1 frontend scaffold</p>
  </div>
</header>
