<div class="comments-container">
  {% for comment in comments %}
  <div class="comment-item">
    <div class="comment-header">
      anonymous -
      <time
        class="comment-time"
        datetime="{{ comment.timestamp.isoformat() }}"
        title="UTC time: {{ comment.timestamp.isoformat() }}"
      >
        {{ comment.timestamp.strftime("%m/%d/%Y %I:%M %p") }} (UTC)
      </time>
      -
    </div>
    <div class="comment-body">{{ comment.message | e }}</div>
  </div>
  {% else %}
  <p>No comments yet. Be the first to post!</p>
  {% endfor %}
</div>
