<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anonymous Message Board</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.2/dist/htmx.min.js"
      defer
    ></script>
    <script src="/static/js/main.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Anonymous Message Board</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <p>© 2024 Anonymous Message Board</p>
    </footer>
  </body>
</html>
