<article class="card">
  <header class="card-header">
    <p class="card-header-title">{{ post.title }}</p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="subtitle is-6">
        Posted on {{ post.created_at.strftime("%Y-%m-%d %H:%M") }}
      </p>
      {{ post.content }}
    </div>
  </div>
  <footer class="card-footer">
    <a
      href="/"
      hx-get="/blog"
      hx-target="#post-list"
      hx-swap="innerHTML"
      class="card-footer-item"
    >
      Back to list
    </a>
  </footer>
</article>
