{% for post in posts %}
<article class="card mb-4">
  <header class="card-header">
    <p class="card-header-title">
      <a
        href="/blog/{{ post.slug }}"
        hx-get="/blog/{{ post.slug }}"
        hx-target="#post-list"
        hx-swap="outerHTML"
      >
        {{ post.title }}
      </a>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="subtitle is-6">
        Posted on {{ post.created_at.strftime("%Y-%m-%d %H:%M") }}
      </p>
      {{ post.content[:200] }}{% if post.content|length > 200 %}...{% endif %}
    </div>
  </div>
</article>
{% endfor %}
