{% extends "base.html" %} {% block content %}
<h1 class="title">Sign Up</h1>
<form action="/auth/register" method="post" hx-boost="true">
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input class="input" type="text" name="username" required />
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" name="password" required />
    </div>
  </div>
  <div class="control">
    <button class="button is-primary" type="submit">Sign Up</button>
  </div>
</form>
{% endblock %}
